/*Header(Navbar) Style*/
.header {
    top: 0;
    padding: 40px 0 0;
    z-index: 999;
  }
  
  @media (max-width: 767px) {
    .header {
      background: #f4f2f0;
    }
  }
  
  .header--bg {
    background: #f4f2f0;
    padding: initial;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 575px) {
    .header .navbar .navbar-brand img {
      max-width: 200px;
    }
  }
  
  @media (max-width: 320px) {
    .header .navbar .navbar-brand img {
      max-width: 160px;
    }
  }
  
  @media (max-width: 767px) {
    .header .navbar .navbar-nav {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  
  .header .navbar .navbar-nav .nav-item {
    margin-left: 60px;
  }
  
  @media (max-width: 991px) {
    .header .navbar .navbar-nav .nav-item {
      margin-left: 10px;
    }
  }
  
  @media (max-width: 767px) {
    .header .navbar .navbar-nav .nav-item {
      margin-left: initial;
    }
  }
  
  .header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 20px;
    color: #333333;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
  }
  
  .header .navbar .navbar-nav .nav-item .nav-link:hover, .header .navbar .navbar-nav .nav-item .nav-link.active {
    color: var(--primary-color);
  }