@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6 {
  font-family: var(--primary-font);
}

h1, .h1, h2, .h2 {
  font-weight: 600;
}

h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 400;
}

h1, .h1 {
  font-size: 50px;
  line-height: 60px;
}

@media (max-width: 767px) {
  h1, .h1 {
    font-size: 40px;
    line-height: 50px;
  }
}

h2, .h2 {
  font-size: 48px;
  line-height: 56px;
}

@media (max-width: 767px) {
  h2, .h2 {
    font-size: 38px;
    line-height: 46px;
  }
}

h3, .h3 {
  font-size: 36px;
  line-height: 26px;
}

@media (max-width: 767px) {
  h3, .h3 {
    font-size: 26px;
    line-height: 20px;
  }
}

h4, .h4 {
  font-size: 34px;
  line-height: 26px;
}

h5, .h5 {
  font-size: 32px;
  line-height: 26px;
}

h6, .h6 {
  font-size: 18px;
  line-height: 24px;
}

p {
  font-family: var(--secondary-font);
  line-height: 28px;
  color: #777777;
}

/* Common CSS */
:root {
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-color: #1769ff;
  --opacity-color: rgba(23, 105, 255,0.78);
}

::-moz-selection {
  color: var(--primary-color);
  background: #ffffff;
}

::selection {
  color: var(--primary-color);
  background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}

body {
  color: #333333;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button,
button:hover,
button:focus,
button:active {
  outline: none;
}

ul,
ol {
  list-style: none;
}

/*All Transition Style*/
.transition {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

/*Section Spacing Style*/
.section-padding {
  padding: 165px 0;
}

@media (max-width: 991px) {
  .section-padding {
    padding: 100px 0;
  }
}

@media (max-width: 767px) {
  .section-padding {
    padding: 50px 0;
  }
}

/*Section Background Style*/
.section-bg {
  background: #f4f4f4;
}

/*Common Button Style*/
.btn-hire {
  color: var(--primary-color) !important;
  border-width: 2px !important;
  border-color: var(--primary-color) !important;
  padding: .5rem 1.5rem !important;
}

.btn-hire:hover {
  color: #fff !important;
  background-color: var(--primary-color);
}

/*Section Header Style*/
.section-header {
  margin-bottom: 70px;
}

.section-header__title {
  z-index: 1;
}

.section-header__title::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 55px;
  color: #eeeeee;
  z-index: -1;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 575px) {
  .section-header__title::before {
    font-size: 50px;
  }
}